{% extends "base.html" %}
{% block content %}
  <div  class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"> About us </h1>
    <p>EasyRide is a project built by the below mentioned students of <span class="lead">University of Glasgow</span> as part of the <span class="lead">Programming Systems and Development</span> course.</p>
  </div>
<div class="jumbotron">
  <h4>Contributors</h4>
  <ol>
    <li> Anza Sultan </li>
    <li> Chunyu Xhao </li>
    <li> Di Cheng </li>
    <li> Haodong Liu </li>
    <li> Saatwik Mandava </li>
    <li> Sukumar Renddy Vancha </li>
    <li> Yi Xiong </li>
    <li> Zidi Zhou </li>
  </ol>
  </div>

{% endblock %}
