<!-- Profile page for the User, where he can also edit his person details if required -->
{% extends "account_layout.html" %} <!-- Adds the SidebarMenu HTML code present in the account_layout.html file -->
{% block account %}
  <div class="jumbotron">
    <div align='center'>
      <h1>{{ current_user.first_name.capitalize() }} {{ current_user.last_name.capitalize() }}</h1>
      <!-- Displays the name of the person on the top of the page -->
      <img class="img-fluid" width="128" height="128" align='center'
           src="{{ url_for('static',filename='profile_pics/'+current_user.profile_image) }}">
    </div>
  </div>
  <div class="container">
    <form method="POST" action="" enctype="multipart/form-data">
      <!-- Both displays the current values present in the database and also allows the user to change the values -->
      {{ form.hidden_tag() }}
      <!-- Display First Name and Last Name side by side -->
      <div class="row">
        <div class="col">
          <div class="form-floating mb-3">
            {{ form.first_name }}
            {{ form.first_name.label }}
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            {{ form.last_name }}
            {{ form.last_name.label }}
          </div>
        </div>
      </div>
      <!-- Display phone number email and city form fields -->
      <div class="form-floating mb-3">
        {{ form.phone_number }}
        {{ form.phone_number.label }}
      </div>
      <div class="form-floating mb-3">
        {{ form.email }}
        {{ form.email.label }}
      </div>
      <div class="form-floating mb-3">
        {{ form.city }}
        {{ form.city.label }}
      </div>
      {{ form.submit }}
      <!-- <div class="form-group">
            {{form.picture.label(class='form-group')}}
            {{form.picture(class='form-control')}}
            </div> -->
    </form>
  </div>
{% endblock %}
