{% extends "account_layout.html" %}
{% block account %}

<div class="jumbotron">
  <h1> Add Wallet Balance </h1>
  <p> Current Balance: {{user.wallet_balance}}</p>
</div>

<form method="POST">
  {{form.hidden_tag()}}
  {{form.amount.label}}{{form.amount}}<br>
  <h6 class="text-uppercase">Payment details</h6>
  {{form.name.label}}{{form.name}}<br>
  {{form.card.label}}{{form.card}}<br>
  {{form.month.label}}{{form.month}}{{form.year}}<br>
  {{form.cvv.label}}{{form.cvv}}<br>
  {{form.submit}}
</form>

{% endblock %}
