<!DOCTYPE html>
<!-- Contains Navbar code for all the webpages in this project. -->
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>Easy Ride</title>
  <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<!-- NavBar Code -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
  <div class="container-fluid">
    <!-- Brand Title -->
    <a class="navbar-brand" href="{{ url_for('core.index') }}">Easy Ride</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <!-- Dropdown for static info pages -->
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Information
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('core.howitworks') }}">How It Works?</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{ url_for('core.locations') }}">Locations</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{ url_for('core.pricing') }}">Pricing</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{ url_for('core.aboutus') }}">About Us</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end mb-2 mb-lg-0">
        {% if current_user.is_authenticated %} <!-- Navbar Options to display only if the user is authenticated -->
          {% if current_user.user_type.name == 'NORMAL' %}
            <!-- Navbar Options to display only if the user is a normal user -->
            {% if current_user.session_var == 'RENTED' %}
              <!-- Navbar Options to display if the user already rented a bike -->
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('rides.booking') }}">Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('rides.placeback') }}">Return</a>
              </li>
            {% elif current_user.session_var == 'PAYMENT' %}
              <!-- Navbar Options to display if the user returned the bike but has not finished payment -->
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('rides.payment') }}">Payment</a>
              </li>
            {% else %}
              <!-- Navbar Options to display if the user has not rented a bike and has no unfinished payment -->
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('rides.rent') }}">Rent</a>
              </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('users.account') }}">My Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url_for('users.wallet') }}">Wallet</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url_for('users.userrides') }}">Ride History</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url_for('users.userreviews') }}">Reviews</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ url_for('users.reportbike') }}">Report Bike</a></li>
              </ul>
            </li>
          {% elif current_user.user_type.name == 'OPERATOR' %}
            <!-- Navbar Options to display only if the user is a operator -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('employees.operator_view') }}">Operator's View</a>
            </li>
          {% else %} <!-- Navbar Options to display only if the user is a manager -->
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('employees.manager_view') }}">Manager's View</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a>
          </li>
        {% else %} <!-- Navbar Options to display only if the user is not logged in -->
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('users.register') }}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<br>

<!-- In case if we ever flash a message for info or error, they will be added here -->
<div class="container-sm">
  {% with messages = get_flashed_messages(with_categories=True) %}
    <!-- Every time a page loads it will check if there are any alert messages to be flashed -->
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
<br>
<div class="container">
  <!-- In case if we ever raise a validation error in the forms, they will be flashed here -->
  {% if form %}
    <div class="container-sm">
      {% for formname in form %}
        {% with messages = formname.errors %}
          <!-- Every time a page loads it will check if there are any form errors to be flashed -->
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      {% endfor %}
    </div>
  {% endif %}
  </div>
<div class="container">
  {% block content %}
  {% endblock %}
</div>
  <div class="container footer pt-4 my-md-5 pt-md-5">
      <p class="mt-5 mb-3 text-muted text-center">&copy; University of Glasgow CS - Group 2C - EasyRide 2021</p>
  </div>
</body>
</html>
