<!-- Form for displaying booked bike info to the user -->
{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1> Booking Details</h1>
    <!-- Displays bike number, bike pin, ride start time and the start location -->
    <ul>
      <li> Bike Number: {{ bike.bike_number }} </li>
      <li> Bike Pin: {{ bike.bike_pin }} </li>
      <li> Started at: {{ current_ride.start_time }} </li>
      <li> Location: {{ current_ride.start_location.name.capitalize() }} </li>
    </ul>
  </div>
{% endblock %}
