<!-- Displays all the rides to the operator or the manager -->
{% extends "employee_layout.html" %} <!-- Adds the SidebarMenu HTML code present in the account_layout.html file -->
{% block content %}
  <div class="jumbotron">
    <h1> Rides </h1>
  </div>
  <ul class="nav nav-pills nav-fill">
    <!-- Options for filtering the rides -- >
        {% if status=='YES'%} <!-- Option to show as activated if selected to view the on-going rides -->
      <li class="nav-item"><a class="nav-link active" aria-current="page"
                              href="{{ url_for('employees.check_rides', status='YES') }}">On-going</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('employees.check_rides', status='NO') }}">Past</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('employees.check_rides', status='PENDING') }}">Payment
        pending</a></li>
    {% elif status=='NO' %} <!-- Option to show as activated if selected to view the past rides -->
      <li class="nav-item"><a class="nav-link" href="{{ url_for('employees.check_rides', status='YES') }}">On-going</a>
      </li>
      <li class="nav-item"><a class="nav-link active" aria-current="page"
                              href="{{ url_for('employees.check_rides', status='NO') }}">Past</a></li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('employees.check_rides', status='PENDING') }}">Payment
        pending</a></li>
    {% else %} <!-- Option to show as activated if selected to view the pending payments -->
      <li class="nav-item"><a class="nav-link" href="{{ url_for('employees.check_rides', status='YES') }}">On-going</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="{{ url_for('employees.check_rides', status='NO') }}">Past</a></li>
      <li class="nav-item"><a class="nav-link active" aria-current="page"
                              href="{{ url_for('employees.check_rides', status='PENDING') }}">Payment pending</a></li>
    {% endif %}
  </ul>
  <div class="container">
  <div>
    <table class="table">
      <thead>
      <!-- Common Table Headings -->
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Start time</th>
        <th scope="col">Bike Number</th>
        <th scope="col">Start Location</th>
        <th scope="col">User</th>
        {% if status=='YES' %} <!-- Addition Table Headings in case of on-going rides -->
          <th scope="col">GPS</th>
        {% else %} <!-- Addition Table Headings in case past rides -->
          <th scope="col">End Location</th>
          <th scope="col">Time Taken</th>
          {% if status=='PENDING' %} <!-- Table Headings in case on payment pending rides -->
            <th scope="col">Amount</th>
          {% endif %}
        {% endif %}
      </tr>
      </thead>
      <tbody>
      {% for ride in rides.items %}  <!-- for each ride details add them one by one to the rows  -->
        <tr>
          {% if status=='PENDING' %}  <!-- Details to add in case on payment pending rides -->
            <th scope="row">{{ ride.ride.start_time.strftime('%d-%m-%Y') }}</th>
            <th scope="row">{{ ride.ride.start_time.strftime('%I:%M %p') }}</th>
            <td><a
                href="{{ url_for('employees.bike_track', bike_number=ride.ride.bike.bike_number) }}">{{ ride.ride.bike.bike_number }}</a>
            </td>
            <td>{{ ride.ride.start_location.name.capitalize() }}</td>
            <td><a href="{{ url_for('users.user_info', user_id=ride.user_id) }}">
              {{ ride.user.first_name.capitalize() }} {{ ride.user.last_name.capitalize() }}</a>
            </td>
            <td>{{ ride.ride.end_location.name.capitalize() }}</td>
            <td>{{ ride.ride.get_minutes(ride.ride.end_time) }} minutes</td>
            <td>{{ ride.amount }} GBP</td>
          {% else %} <!-- Details to add otherwise not payment pending -->
            <th scope="row">{{ ride.start_time.strftime('%d-%m-%Y') }}</th>
            <th scope="row">{{ ride.start_time.strftime('%I:%M %p') }}</th>
            <td><a
                href="{{ url_for('employees.bike_track', bike_number=ride.bike.bike_number) }}">{{ ride.bike.bike_number }}</a>
            </td>
            <td>{{ ride.start_location.name.capitalize() }}</td>
            <td><a href="{{ url_for('users.user_info', user_id=ride.user_id) }}">
              {{ ride.user.first_name.capitalize() }} {{ ride.user.last_name.capitalize() }}</a>
            </td>
            {% if status=='YES' %} <!-- Addition Details to add in case of on-going rides -->
              <td><a href="{{ url_for('employees.bike_track', bike_number=ride.bike.bike_number) }}">Track</a></td>
            {% else %} <!-- Addition Details to add in case of past rides -->
              <td>{{ ride.end_location.name.capitalize() }}</td>
              <td>{{ ride.get_minutes(ride.end_time) }} minutes</td>
            {% endif %}
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <!-- Adds pagination to control the amount of information in the table  -->
      <ul class="pagination justify-content-center">
        {% for page_num in rides.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if rides.page == page_num %} <!-- Disable the current page number from being clicked  -->
            <li class="page-item disabled">
              <a class="page-link" href="{{ url_for('employees.check_rides', page=page_num) }}">{{ page_num }}</a>
            </li>
          {% elif not page_num %}
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
          {% else %}
            <li class="page-item"><a class="page-link"
                                     href="{{ url_for('employees.check_rides', page=page_num, status=status) }}">{{ page_num }}</a>
            </li>
          {% endif %}
        {% endfor %}
    </nav>
  </div>
{% endblock %}
