{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">

    <h1 class="display-4">How it Works?</h1>
    <p class="lead">Renting a bike via easyride is a very sinple and hassle free process</p>
    <ol>
      <li> Go to location where bike stands are available </li>
      <li> Select your current location in the rent page and book a bike to get your bike number </li>
      <li> Use the bike pin provided in booking details to unlock the bike </li>
      <li> When you are ready to return go to any of the nearest bike stands and drop off your bike </li>
      <li> Return the bike in the return page and finish your payment </li>
    </ol>
  </div>

{% endblock %}
