{% extends "base.html" %}
{% block content %}
  <form method="POST">
    {{form.hidden_tag()}}
    {{form.first_name.label}}{{form.first_name}}<br>
    {{form.last_name.label}}{{form.last_name}}<br>
    {{form.phone_number.label}}{{form.phone_number}}<br>
    {{form.email.label}}{{form.email}}<br>
    {{form.password.label}}{{form.password}}<br>
    {{form.confirm_password.label}}{{form.confirm_password}}<br>
    {{form.city.label}}{{form.city}}<br>
    {{form.submit()}}
  </form>
{% endblock %}
