<!-- User ride and transaction details table for users viewing in his account section -->
{% extends "account_layout.html" %} <!-- Adds the SidebarMenu HTML code present in the account_layout.html file -->
{% block account %}
  <div class="jumbotron">
    <h1> Ride History </h1>
  </div>
  <div class="container">
    <div>
      <table class="table">
        <thead>
        <!-- Table Headings -->
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Bike Number</th>
          <th scope="col">Start Location</th>
          <th scope="col">End Location</th>
          <th scope="col">Time Taken</th>
          <th scope="col">Amount</th>
          <th scope="col">Paid with</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions.items %}
          <!-- for each transaction details add them one by one to the rows  -->
          <tr>
            <th scope="row">{{ transaction.time.strftime('%d-%m-%Y') }}</th>
            <td>{{ transaction.ride.bike.bike_number }}</td>
            <td>{{ transaction.ride.start_location.name.capitalize() }}</td>
            <td>{{ transaction.ride.end_location.name.capitalize() }}</td>
            <td>{{ (transaction.amount - 1)/0.2 + 1 }} minutes</td>
            <td>{{ transaction.amount }} GBP</td>
            <td>{{ transaction.payment_type.name.capitalize() }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <!-- Adds pagination to control the amount of information in the table  -->
        <ul class="pagination justify-content-center">
          {% for page_num in transactions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if transactions.page == page_num %} <!-- Disable the current page number from being clicked  -->
              <li class="page-item disabled">
                <a class="page-link" href="{{ url_for('users.userrides', page=page_num) }}">{{ page_num }}</a>
              </li>
            {% elif not page_num %}
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            {% else %}
              <li class="page-item"><a class="page-link"
                                       href="{{ url_for('users.userrides', page=page_num) }}">{{ page_num }}</a></li>
            {% endif %}
          {% endfor %}
      </nav>
    </div>
  </div>
{% endblock %}
