<!-- User wallet balance and topup history table for users viewing in their account section -->
{% extends "account_layout.html" %} <!-- Adds the SidebarMenu HTML code present in the account_layout.html file -->
{% block account %}
  <div class="jumbotron">
    <h1> Wallet </h1>
    <ul>
      <li> Balance: {{ user.wallet_balance }} </li>
      <!-- Current balance -->
    </ul>
    <a href="{{ url_for('users.addbalance') }}" class="btn btn-primary" role="button">Add balance</a>
  </div>
  <div class="jumbotron">
    <h1> Top Up History </h1>
  </div>
  <!-- Topup history table -->
  <div class="container">
    <div>
      <table class="table">
        <thead>
        <!-- Table Headings -->
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions.items %}
          <!-- for each topup transaction details add them one by one to the rows  -->
          <tr>
            <th scope="row">{{ transaction.time.strftime('%d-%m-%Y') }}</th>
            <td>{{ transaction.amount }} GBP</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% for page_num in transactions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if transactions.page == page_num %}
              <li class="page-item disabled">
                <a class="page-link" href="{{ url_for('users.wallet', page=page_num) }}">{{ page_num }}</a>
              </li>
            {% elif not page_num %}
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            {% else %}
              <li class="page-item"><a class="page-link"
                                       href="{{ url_for('users.wallet', page=page_num) }}">{{ page_num }}</a></li>
            {% endif %}
          {% endfor %}
      </nav>
    </div>
  </div>
{% endblock %}
